@import "colors.scss";

// ############################################
// ################ Font stuff ################
// ############################################

@font-face {
    font-family: 'Minnie';
    src: url('../fonts/Minnie.TTF');
}

@font-face {
    font-family: 'Impress';
    src: url('../fonts/impress-bt.ttf');
}

@mixin Minnie {
    font-family: 'Minnie';
}



// ############################################
// ############ Placeholder stuff #############
// ############################################

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    padding: 0; 
    margin: 0; 
}

img, picture, svg, video {
    display: block; 
    max-width: 100%;
}

body {
    min-height: 100%;
    background: url('../pages/img/Wallpaper_Test_2_32523.jpg') center;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    // filter: brightness(50%);
}



header {
    .nav {
        .header-clouds {
            visibility: hidden;
        }

        .hamburger-lines {
            display: block;
            width: 50px;
            height: 20px;
            position: relative;
            cursor: pointer;
            z-index: 100;
            top: 50px;
            right: 0px;
        
            .line {
                display: block;
                position: absolute;
                width: 100%;
                height: 3px;
                background-color: yellow;
                border-radius: 2px;
                transition: all 0.3s ease-in-out;
            }

            .line:nth-child(1) {
                opacity: 1;
            }
            
            .line:nth-child(2),
            .line:nth-child(3) {
                top: 50%;
            }
        
            .line:nth-child(2) {
                transform: translateY(0px) rotate(0deg);
            }
            .line:nth-child(3) {
                transform: translateY(10px) rotate(0deg);
            }
        
        }

        nav{
            @include Minnie();
            @include FontShadow;
            display: flex;
            flex-direction: column;
            align-items: center;
            
            
            a {
                padding: 3rem;
                color: $fontcolor;
                width: 100%;
                font-size: 1.5rem;
                &:hover {
                    color: $contrastcolor;
                    transition: .3s ease-in-out;
                }
            }


            .miniStar{
                position: relative;
                width: 5px;
                height: 5px;
                display: flex;
                justify-content: center;
                align-items: center;
        
                img {
                    position: absolute;
                    visibility: hidden;
                }
            }

            .playnow{
                padding: 1.5rem;
                .playStar{
                    position: absolute;
                    visibility: hidden;
                    width: 5px;
                    height: 5px;
                }

                a:hover{
                    color: $fontcolor;
                    transition: .3s ease-in-out;
                }
            }
            

            
        }
    }
}

#active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: red;
    z-index: 1;

    .line:nth-child(1) {
        opacity: 0 !important;
    }
    
    .line:nth-child(2),
    .line:nth-child(3) {
        top: 50%;
    }

    .line:nth-child(2) {
        transform: translateY(-50%) rotate(45deg) !important;
    }
    .line:nth-child(3) {
        transform: translateY(-50%) rotate(-45deg) !important;
    }
}



// ############################################
// ############## Mobile Stuff ################
// ############################################

// .App {

// }

// ############################################
// ########## Responsive Stuff ################
// ############################################

@media (min-width: 40em) {}
@media (min-width: 60em) {}
@media (min-width: 80em) {
    header {
        max-width: 100%;
        position: relative;

        .site-logo {
            width: 300px;
        }

        .nav {
            display: flex;
            align-items: center;

            .header-clouds {
                visibility: visible;
            }

            .hamburger-lines {
                visibility: hidden;
            }

            nav {
                display: grid; 
                grid-template-columns: 1fr 1fr 0.8fr 0.5fr 1.5fr 1.3fr; 
                grid-template-rows: 1fr; 
                gap: 0px 0px; 
                grid-template-areas: 
                  "History Comics Art Play-Now login\/sign-up Help"; 
                justify-items: center; 
                align-items: center; 


                width: 100%;
                position: relative;
                gap: 2px;
                @include Minnie();
                @include FontShadow;
        
                   
                a {
                    position: relative;
                    z-index: 2;
                    display: block;
                    padding: 10px;
                    text-decoration: none;
                    color: $fontcolor;
                    font-size: 1.5rem;
                }

                .miniStar{
                    position: relative;
                    width: 144px;
                    display: flex;
                    align-items: center;
            
                    img {
                        position: absolute;
                        right: 0;
                        width: 80px;
                        visibility: visible;
                        z-index: -1;
                    }
                }
    
                .playnow {
                    position: relative;
                    height: 300px;
                    width: 300px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
    
                    .playStar{
                        visibility: visible;
                        width: 250px;
                        height: 250px;
                    }
    
                    a{
                        text-decoration: none;
                        font-size: 3rem;
                        position: absolute;
                        color: $contrastcolor;
                        -webkit-text-stroke: 4px;
                        -webkit-text-stroke-color: black;
                        width: 50%;
                        @include FontShadow;
                    }
                }
            }
            
            .header-clouds, .animatedImages{
                position: absolute;
                display: block;
                width: 100%;
                height: auto;
            }

            .animatedImages{
                display: flex;
                justify-content: flex-end;
                top: 50px;
                right: 50px;

                img {
                    width: auto;
                    height: 100%;
                }
            }
        }
    }

    main{
        margin: 20rem 0;
        

        h1{
            color: $fontcolor;
            @include Minnie();
            @include FontShadow;
        }

        section{
            margin: 20rem 0;
        }

        .CloudContainer, .JoinTeamContianer {
            position: relative;
            display: flex;
            align-items: center;
            
            .container {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;

                .WordContainer{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 50%;
                    
                    h1 {
                        font-size: 2rem;
                    }
                    
                    p {
                        color: white;
                        font-size: 1rem;
                        width: 80%;
                        text-align: center;
                        padding: 1rem 0;
                    }
                }
            }
            
            .clouds2{
                position: absolute;
                z-index: -1;
                width: 100%;
            }
        }
    }

    footer{
        display: flex;
        flex-direction: column;
        padding-top: 4rem;

        .starhopping {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                position: absolute;
                z-index: -1;
            }
        }


        h3{
            text-align: center;
            color: $fontcolor;
            @include Minnie();
            @include FontShadow;
            font-size: 1.3rem;
            padding-bottom: 2rem !important;
        }

        h3, .socials, .footerNav, p{
            padding: 3rem 0;
        }

        .container {
            .socials{
                display: flex;
                justify-content: center;
                img{
                    padding: 0 3rem;
                }
            }

            .footerNav{
                display: flex;
                justify-content: space-evenly;
                @include Minnie();
                @include FontShadow;

                a {
                    color: $fontcolor;
                }

                //* Star position 
                .miniStar{
                    position: relative;
                    width: 144px;
                    display: flex;
                    align-items: center;

                    img {
                        position: absolute;
                        right: 0;
                        width: 80px;
                        z-index: -1;
                    }
                }

            }

        }

        p {
            background-color: rgba($color: #131313, $alpha: .8);
            color:white;
            text-align: center;
        }
    }
}
